.server-list {
	margin: 0 15px;
	.server {
		&.header {
			height: 55px;
			font-weight: 600;
		}
	    text-align: center;
	    box-shadow: inset 0 -1px 0px red;
		.server-id {
			flex-basis: 150px;
		}
		.server-remove, .server-create, .server-select {
			flex: 1;
		}
		display: flex;
		align-items: center;
	}

	.controls {
		margin-top: 15px;
		button {
			margin-right: 15px;
		}
	}
}

.current-time, .total-time {
	font-weight: 600;
	.label-use {
		margin-right: 95px;
	}

	.label-current {
		margin-right: 85px;
	}
}

